/* ----------------------------------------------------
   created with http://www.texturepacker.com 
   ----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(page5.pvr.gz);}

.ishiki05 {width:1024px; height:768px; background-position: -0px -0px}
